<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:app="http://schemas.android.com/apk/res-auto"
          package="studio.crazybt.adventure">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.HomePageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.TripActivity">
        </activity>
        <activity android:name=".activities.ProfileActivity">
        </activity>
        <activity android:name=".activities.FriendActivity">
        </activity>
        <activity
            android:name=".activities.StatusActivity"
            android:theme="@style/AppTheme.ActivitySwipe">
        </activity>
        <activity
            android:name=".activities.DiaryTripActivity"
            android:theme="@style/AppTheme.ActivitySwipe">
        </activity>
        <activity android:name=".activities.MessageActivity">
        </activity>
        <activity
            android:name=".activities.InputActivity">
        </activity>
    </application>

</manifest>